<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851868943324-l209i9lcq0kqbfg46q5fhr77arlmomcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851868943324-l209i9lcq0kqbfg46q5fhr77arlmomcc</string>
	<key>API_KEY</key>
	<string>AIzaSyBrgTFkyoRa50IreFRQJhlzoX_kA8JNkME</string>
	<key>GCM_SENDER_ID</key>
	<string>851868943324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.whatado</string>
	<key>PROJECT_ID</key>
	<string>whatado</string>
	<key>STORAGE_BUCKET</key>
	<string>whatado.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851868943324:ios:205f8b7b4c906fb20dc519</string>
</dict>
</plist>